@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

*::after, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.no-top-margin:not(:first-child) {
  margin-top: -1.15rem;
}

@media (min-width: 768px) {
  .no-top-margin:not(:first-child) {
    margin-top: -2.775rem; 
  }
}

@layer components{

  .main-div{
    @apply min-h-max bg-[#f3ebde] overflow-x-hidden;
  }

  .name{
    @apply nav-text font-bold text-xl tracking-widest md:text-3xl my-auto px-5 md:px-16;
  }

  .nav-text{
    @apply md:tracking-wider text-nowrap text-[#f5ba63];
  }

  .nav-items{
    @apply flex font-semi-bold text-[1.4rem] font-mono px-7 space-x-6 mt-[2.05rem] nav-text ;
  }

  .navbar{
    @apply flex justify-between absolute top-0 w-full h-24 bg-[#2c2b2a];
  }

  .dropdown{
    @apply  bg-[#2c2b2a] flex flex-col p-4  text-[1.034rem] absolute top-[5.75rem] w-full right-[0.0rem] z-40 text-nowrap text-left ;
  }

  .img-banner{
    @apply h-[18rem] md:h-[22.5rem] bg-[url('/food3.jpg')] bg-center bg-no-repeat bg-cover w-full;
  }

  .drinks-img-banner{
    @apply h-[18rem] md:h-[22.5rem] bg-[url('/mocktails.jpg')] bg-center bg-no-repeat bg-cover w-full;
  }

  .drinks-header{
    @apply header text-gray-50 drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)];
  }

  .header{
    @apply text-6xl md:text-8xl xl:ml-12 2xl:ml-[11rem] 2xl:text-[7rem] font-extrabold  text-[#030303] tracking-wider font-serif absolute left-12 md:left-36 top-40 md:top-44 bg-transparent text-nowrap;
  }

  .menu-items-cont{
     @apply mx-4 px-4 pb-12;
  }

  .menu-item-cont{
    @apply  px-2 md:mt-16 mt-8 text-nowrap;
  }

  .menu-item-header{
    @apply text-lg md:text-4xl font-bold text-center tracking-wide md:tracking-wider text-nowrap;
  }

  .ul-cont{
    @apply mt-8 font-semi-bold text-left md:mt-12 tracking-wide font-sans md:gap-x-[28rem] flex flex-col md:text-[1.45rem] md:tracking-wide;
  }

  .menu-cont{
    @apply flex flex-row justify-between my-1 md:my-2 md:mx-[3rem] lg:mx-[5rem] xl:tracking-wide xl:mx-[13rem] 2xl:mx-[25rem];
  }

  .about-us-header{
    @apply text-2xl md:text-4xl md:mb-10 mb-6 font-semi-bold;
  }

  .about-us-cont{
    @apply bg-[#f3ebde] font-sans h-screen md:text-[1.45rem] text-gray-800 leading-relaxed font-[400] md:px-[5.75rem] tracking-wider pt-[7.5rem] px-8;
  }

  .footer{
    @apply bottom-0 flex justify-center items-end text-sm h-[4.75rem] md:h-[6.225rem] bg-[#2c2b2a];
  }

  .footer-text{
    @apply md:text-lg text-[#f5ba63] font-mono mb-4 cursor-default;
  }

  .error-page{
    @apply text-2xl md:text-5xl font-mono flex min-h-screen items-center justify-center bg-[#f3ebde];
  }

}

